<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatwell - Make The World A Tastier Place</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/restaurants.css" />
    <script src="/scripts/responsive.js" defer></script>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1><%= restaurant.name %></h1>
     <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
     <p><%= restaurant.description %></p>
     <p><a href="<%= restaurant.website %>">View Website</a></p>
    </main>
  </body>
</html>
